{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ etudiant.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ etudiant.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ etudiant.age }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ etudiant.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ etudiant.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.email }}</td>
            </tr>
            
            <tr>
                <th>Cv</th>
                <td>
                    
                    <a href="{{ asset('cvs/' ~ etudiant.cv) }}">View CV (PDF)</a>

                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etudiant_index') }}">back to list</a>

    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
